<li id="{{Code}}" class="list-group-item btn-default">
  <span id="name">{{Name}}</span>
  <input type="hidden" id="price" value="{{Price}}"/>
  <input type="hidden" id="sizeCode" value="{{SizeCode}}"/>
</li>
