<div class="panel panel-default btn-default" id='{{StoreID}}'>
  <div class="panel-heading">
    <span>{{MinDistance}} mi.</span>
  </div>
  <div class="panel-body">
    <div>{{AddressDescription}}</div>
    <div>{{ServiceHoursDescription.Delivery}}</div>
  </div>
</div>
